<div class="m-10">
  <input type="text" [(ngModel)]="searchString">
  <button (click)="getTitleAndAuthor()">Search</button>
</div>


<table class="m-10">
  <table style="width:100%">
    <tr>
      <th>Title</th>
      <th>Author (Submissoin Count)</th>
    </tr>
    <!-- <tr *ngFor="let item of resultList">
      <td>{{item.title}}</td>
      <td>{{item.author}}</td>
    </tr> -->

    <tr *ngFor="let item of resultList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <td *ngIf="item.title"><a href={{item.url}} target="_blank">{{item.title}}</a></td>
      <td *ngIf="!item.title"><a href={{item.url}} target="_blank">{{item.story_title}}</a>
      </td>
      <td>{{item.author}} <span *ngIf="item.submissionCount">( {{item.submissionCount}} )</span></td>
    </tr>

  </table>

  <ngb-pagination [pageSize]="25" [collectionSize]="100" [(page)]="page" aria-label="Default pagination">
  </ngb-pagination>



</table>